body{
	font-family: 'Noto Sans TC', sans-serif;
	color:#ffd53c;
}
	
h1,h2,h3,h4,h5,h6{
		font-family: 'Noto Sans TC', sans-serif;
		text-transform:none;
		color:#5b876c;
}
.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:#7d2be4; 
}
.bg-primary {
  background-color: #7dc0e4 !important;
  background-image: url("img/otis-redding.png");
}

.text-primary {
  color: #7dc09b !important;
}

a {
  color: #6e7343;
}

a:hover, a:focus, a:active {
  color: #bc999b;
}
div#flex_container{
display: flex;
flex-direction:auto
flex-wrap:wrap;
}
div.child_div{
front-size:1.5rem;
background-color:#fffff;
margin:0.5rem
padding:0.5rem;
}
.child_div p {
  display:block;
  margin:0rem;
